body {
    background-color: rgb(216, 243, 252);
}
h1 {
    font-size: 300%;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    align-content: center;
}
#instructions {
    text-align: center;
    align-content: center;
}
.container {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
}
#buttons button {
    align-content: center;
    text-align: center;
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #659a98;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #bbb;
}
#gifs img {
    margin: 10px;
    height: 300px;
    width: 300px;
}
#searchBar {
    font-size: 150%;
    align-content: center;
    text-align: center;
}
.gifContainer {
    display: inline-block;
}